*.log
.DS_Store
.env
.env*
*.env
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Custom Ignore Rules (Backup, Temp, & Test Files)
*.sql
*.zip
*.docx
progress.txt
temp_docx/
check_db*.php
test*.php
fix.php
force_update.php
get_*.php
revert.php
